* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("./backg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    margin: 10px;
}

#canvas {
    background-color: rgb(1, 210, 158);
}

section {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

section button {
    width: 180px;
    padding: 10px;
}